:root {
  --color-black: #454545;
  --color-white: #fff;
  --color-beige: #f2e8d8;
  --color-beige-dark: #e8d7c1;
  --color-brown: #c4a69b;
  --color-blue: #abc1c9;
  --color-green: #c7d4c1;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-black);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--color-brown);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-blue);
}
